.dashboard-wrapper {
    display: flex;
    justify-content: center;
    padding: 40px 20px;
    min-height: calc(100vh - 200px); /* leaves room for header/footer */
  }
  
  .dashboard-container {
    padding: 30px;
    width: 100%;
    max-width: 1000px;
    display: flex; /* Enable flexbox */
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center columns horizontally */
  }
  
  .dashboard-container h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2rem;
    color: black;
  }
  
  /* .dashboard-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
  } */
  
  .dashboard-button,
  .change-pass-button,
  .self-checkout-button {
    display: block;
    background-color: #191919;
    color: white;
    text-align: center;
    padding: 16px;
    border: none;
    border-radius: 8px;
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s;
    margin:8px 0;
    min-width: 190px; /* Set a minimum width for buttons */
  }
  
  .dashboard-button:hover {
    background-color: #444;
  }
  
  .change-pass-button {
    background-color: #FFC907;
    color: #191919;
  }
  
  .change-pass-button:hover {
    background-color: #FDB515;
  }
  
  .self-checkout-button {
    color: white;
    background-color:#028f62;
  }
  
  .self--buttton:hover {
    background-color: #14831f;
  }

  .dash-row {
    display: flex; /* Enable flexbox for rows */
    justify-content: center; /* Center columns horizontally */
    gap: 15px; /* Add spacing between columns */
    flex-wrap: wrap; /* Allow wrapping for smaller screens */
  }
  
  .dash-column {
    padding: 0 10px;
    width: 30%;
    text-align: center; /* Center content inside columns */
  }
  
  
  
  /* Clear floats after the columns */
  .dash-row:after {
    content: "";
    display: table;
    clear: both;
  }