.bottom-nav {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px 0; 
  font-size: 14px; 
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #444; 
}

.bottom-nav a {
  color: white;
  margin: 0 10px; 
}

.bottom-nav a:hover {
  text-decoration: underline; 
}

